@import 'tailwindcss';

.table-container {
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #0d9488 #f1f5f9;
}

.table-container::-webkit-scrollbar {
  height: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f5f9;
}

.table-container::-webkit-scrollbar-thumb {
  background: #0d9488;
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #0f766e;
}

.checkbox-cell {
  transition: filter 1s ease;
}

.checkbox-cell:hover {
  filter: brightness(0.75);
}
